[Unit]
Description=Idle screensaver for Mango
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/swayidle -w -S seat0 timeout 60 %h/.local/bin/dur-screensaver-start resume %h/.local/bin/dur-screensaver-stop
Restart=on-failure

[Install]
WantedBy=graphical-session.target
